* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
/* header */
#logo {
    padding-left: 30px;
    font-size: 50px;
    font-weight: 600;
    line-height: 120px;
    color: whitesmoke;
    float: left;
}
 nav {
    height: 130px;
    background-color: grey;
    background-image: url(../images/quin-abby-head-2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
 }

 nav ul {
    float: right;
    line-height: 125px;
    padding-right: 20px;
    letter-spacing: 4px;
 }

nav ul li {
    display: inline;
}

nav ul li a {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 800;
}

nav ul li a:hover {
    color: red;
    transition: .5s;
}

.active {
    border-bottom: 2px solid black;
}
/* body */
body {
    background-color: wheat;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

p {
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

h3, h2 {
    padding: 5px;
}

/* Footer */ 



footer {
    height: 100px;
    text-align: center;
    padding: 20px;
    padding-bottom: 25px;
    color: white;
    margin-top:auto;
    font-size: 25px;

    background-color: grey;
    background-image: url(../images/quin-abby-head-2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

footer a {
    font-size: 40px;
    color: whitesmoke;
}
/* Contact us */ 

table {
    font-size: 30px;
    font-weight: 600;
    margin: 40px 20px 40px 20px;
}

.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

iframe {
    padding: 40px;
}

#flex-container {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    
}
#form {
background-color: lightgrey;
margin: 50px;
text-align: center;
padding: 50px 40px 50px 40px;
}


body  {
    background-image: url('../images/body-img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}