@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Libre+Baskerville:ital@1&family=Merriweather:ital,wght@0,400;1,300&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

/* header */
.logo {
    padding-left: 30px;
    font-size: 3rem;
    font-weight: 200;
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    line-height: 130px
}

nav {
    height: 130px;
    background-color: grey;
    background-image: url(../images/quin-abby-head-2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-between;
}

nav ul {
    line-height: 125px;
    padding-right: 20px;
    letter-spacing: 4px;
    display: flex;
}

nav ul li a {
    color: whitesmoke;
    font-size: 1.875rem;
    font-weight: 800;
    padding-right: 15px;
}

nav ul li a:hover {
    color: red;
    transition: .5s;
}

.active {
    border-bottom: 2px solid white;
}

/* body */
body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Home page video */

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.full-screen-video-container video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Home page introduction */
.full-screen-video-content {
    background-color: hsl(0, 0%, 50%, 0.8);
    font-size: 1.25rem;
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-family: 'Merriweather', serif;
}

/* About page */
p {
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}

h3,
h2 {
    padding: 5px;
}

.storys {

    font-family: 'merriweather', sans-serif;
    font-weight: 400;
    font-size: 1.563rem;
}

.storys2 {

    font-family: 'merriweather', sans-serif;
    font-weight: 600;
    font-size: 1.563rem;
}

/* Footer */

.footer {
    color: black;
    font-weight: 600;
}

footer {
    height: 160px;
    text-align: center;
    padding: 20px;
    padding-bottom: 25px;
    background-color: darkgray;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 0.938rem;
    font-family: 'karla', sans-serif;
}

footer a {
    font-size: 2.5rem;
    color: white;
}

footer a:hover {
    color: red;
    transition: 1s;
}

/* Contact us page */

table {
    font-size: 1.875rem;
    font-weight: 600;
    margin: 40px 20px 40px 20px;
    font-family: 'Satisfy', cursive;

}

.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
}


iframe {
    height: 250px;
}

/* Form */
.form-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: 200px;
    width: 100%;
    max-width: 400px;

}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
    font-family: 'karla', sans-serif;
}

.form p {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
    font-family: 'karla', sans-serif;

}

label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
    font-family: 'merriweather', sans-serif;
}

input {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
    font-family: 'merriweather', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group ::placeholder {
    color: hsla(201, 100%, 91%, 0.8);
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.input-group input {
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 4px solid hsl(201, 100%, 6%);
    outline: none;
    font-size: 1.5em;
    padding: .1em .25em;
    border-radius: 5px;
    color: white;
    font-weight: lighter;

}

.input-group input:focus {
    border: 4px solid hsl(201, 100%, 50%);
}

.input-group-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    gap: 15px;
}

/* Form button */
.btn {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsla(201, 100%, 91%, 0.3);
}

.btn:focus {
    background-color: hsla(201, 100%, 91%, 0.5);
}

/* Gallery page */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    border: 4px solid black;
    border-radius: 20px;
}

.img {
    background-image: url('../images/gallery-10-1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: auto;
    height: auto;
}

/* Sign up conirmation */

.container-signup {
    background-color: hsl(0, 0%, 50%, 0.6);
    font-size: 1.25rem;
    color: whitesmoke;
    padding: 20px;
    margin-top: 40px;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-self: center;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img2 {
    background-image: url('../images/gallery-16.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* media queries */

@media screen and (min-width: 651px) and (max-width: 922px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .logo {
        font-size: 30px;
    }

    nav {
        height: 125px;
    }

    nav ul li a {
        font-size: 20px
    }

    footer {
        font-size: 10px;
        height: fit-content;
    }

    footer a {
        font-size: 30px;
    }

    h1,
    h2,
    h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    table {
        font-size: 20px;
    }


    .heading1 {
        font-size: 20px
    }

    iframe {
        margin: auto;
    }

    #flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .logo {
        font-size: 1.125rem;
        padding-left: 10px;
        line-height: 120px;
    }


    nav {
        height: 110px;
        align-items: center;

    }

    nav ul li a {
        font-size: 0.563rem;
        letter-spacing: normal;
        line-height: 140px;
        padding-right: 5px;
        margin-right: 0;
    }


    .full-screen-video-content {

        font-size: 1.25rem;
        padding: 20px;
        margin-top: 15px;
    }

    body {
        width: 100vw;
    }

    video {
        min-height: 65vh;
    }

    .heading1 {
        font-size: 20px
    }

    .heading2 {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

    .storys {
        font-size: 12px;
    }

    footer {
        height: 100px;


    }

    footer h1,
    h2 {
        font-size: 15px;
    }

    footer a {
        font-size: 25px;
        padding: 2px;
    }

    table {
        font-size: 1.25rem;

    }

    .table {
        display: flex;
        flex-direction: column;
    }


    #flex-container {
        flex-direction: column;
    }


    .login-title {
        font-size: 20px;
    }

    .form-container {
        padding: 10px;
        width: 100%;
    }


    .input-group input {
        background-color: hsla(201, 100%, 91%, 0.3);
        border: 4px solid hsl(201, 100%, 6%);
        outline: none;
        font-size: 1em;
        padding: .1em .25em;
        border-radius: 5px;
        color: white;
        font-weight: lighter;

    }

    .input-group label {
        color: white;
        font-weight: lighter;
        font-size: 1em;
        margin-bottom: 7px;
    }

    .form p {
        font-size: 1em;
    }

    .form label {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .mobile input {
        font-size: 1em;
        justify-content: center;
    }

    .input-group-2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        justify-content: center;
        gap: 3px;
    }

    .input-group-2 input {
        background-color: hsla(201, 100%, 91%, 0.3);
        border: 4px solid hsl(201, 100%, 6%);
        outline: none;
        font-size: 1em;
        padding: .1em .25em;
        border-radius: 5px;
        color: white;
        font-weight: lighter;
    }
}