* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* header */
#logo {
    padding-left: 10px;
    font-size: 40px;
    line-height: 100px;
    color: whitesmoke;
}
 nav {
    height: 120px;
    background-color: grey;
    background-image: url(../images/quin-abby-head-2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
 }

 nav ul {
    float: right;
    line-height: 105px;
    padding-right: 20px;
    letter-spacing: 3px;
 }

nav ul li {
    display: inline;
}

nav ul li a {
    color: whitesmoke;
    font-size: 22px;
    font-weight: 800;
}

nav ul li a:hover {
    color: red;
    transition: .5s;
}

.active {
    border-bottom: 2px solid black;
}
/* body */
body {
    background-color: wheat;
    height: 100vh;
    width: 100vw;
}
h3 {
    color: white;
}

/* Footer */ 



footer {
    height: 50px;
    text-align: center;
    padding: 20px;
    padding-bottom: 25px;
    color: white;
    margin-top:auto;

    background-color: grey;
    background-image: url(../images/quin-abby-head-2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

footer a {
    font-size: larger;
    color: whitesmoke;
}
/* Contact us */ 

table {
    font-size: 30px;
    background-color: lightgrey;
}

#table {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

iframe {
    padding: 40px;
}

#flex-container {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    
}
#flex-item-1 {
background-color: lightgrey;
margin: 50px;
text-align: center;
padding: 50px 40px 50px 40px;
}